.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.white-block {
  position: absolute;
  height: 40px;
  width: 60%;
  background-color: rgb(70, 57, 42);
}
.white-block-left {
  bottom: 0;
  left: -50px;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
}
.white-block-right {
  top: 0;
  right: -50px;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
}

.contrast-box {
  position: absolute;
  right: 3rem;
  top: 7.9rem;
  background-image: url(../img/eye_contrast_icon.png);
  background-position: top;
  background-size: contain;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #2e2e2e;
}

.btn-special-animation {
  position: relative;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  overflow: hidden;
  z-index: 0;
}
.btn-special-animation::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  z-index: -1;
}
.btn-special-animation:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.section-heading {
  position: relative;
  margin-bottom: 2em;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: #eee;
  letter-spacing: 2px;
}

.section-padding {
  padding: 3em 2em;
}

.btn-download {
  color: #2e2e2e;
  font-size: 1rem;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-download:hover {
  scale: 1.2;
}

.download-box {
  padding: 1.2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 576px) {
  .btn-download {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  .section-heading {
    font-size: 3.6rem;
  }
  .section-padding {
    padding: 5em 2em;
  }
}
@media (min-width: 992px) {
  .section-heading {
    font-size: 4.8rem;
  }
  .section-padding {
    padding: 5em 2em;
  }
  .btn-download {
    font-size: 2rem;
  }
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Overpass", sans-serif;
  font-size: 1.6rem;
  background-color: #2e2e2e;
}

img {
  border-radius: 10px;
}

.public-orders {
  position: relative;
  padding: 1em;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: linear-gradient(45deg, rgba(7, 7, 7, 0.331), rgba(98, 96, 96, 0.457)), url(../img/Frozen-morning-in-lake-910764.JPG);
  background-size: cover;
  background-position: center;
  color: #2e2e2e;
}
.public-orders .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.public-orders__title {
  color: #eee;
  text-align: center;
  padding: 1.7em 1em 1em 1em;
  font-size: 3rem;
}
.public-orders__table {
  padding: 0.3em;
  background: rgba(255, 255, 255, 0.76);
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.9px);
  -webkit-backdrop-filter: blur(7.9px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.public-orders__table th {
  text-align: center;
  font-size: 0.7rem;
  border-bottom: 1px solid #eee;
  font-weight: bold;
}
.public-orders__order {
  font-size: 0.65rem;
  text-align: center;
}
.public-orders__order td {
  text-align: center;
  border-bottom: 1px solid #eee;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.67);
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.7px);
  -webkit-backdrop-filter: blur(10.7px);
  border: 1px solid rgba(0, 0, 0, 0.8);
  z-index: 100;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.5s cubic-bezier(0.066, 0.05, 0.36, 1);
  transition: 0.5s cubic-bezier(0.066, 0.05, 0.36, 1);
}
.nav--active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.nav__item {
  position: relative;
  display: block;
  margin: 0.5em 0;
  padding: 0.5em 1em;
  text-decoration: none;
  font-size: 2.8rem;
  color: #fff;
}
.nav__item::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: #fff;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.nav__item:hover:before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.burger-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 1000;
}
.burger-btn:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}
.burger-btn:hover .burger-btn__bars::after,
.burger-btn:hover .burger-btn__bars::before {
  width: 100%;
}
.burger-btn__box {
  position: relative;
  width: 40px;
  height: 30px;
}
.burger-btn__bars, .burger-btn__bars::after, .burger-btn__bars::before {
  position: absolute;
  right: 0;
  height: 3px;
  content: "";
  background-color: #fff;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
.burger-btn__bars {
  width: 100%;
}
.burger-btn__bars::after {
  top: 13px;
  width: 60%;
}
.burger-btn__bars::before {
  top: 27px;
  width: 30%;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

@-webkit-keyframes navItemsAnimation {
  from {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes navItemsAnimation {
  from {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.nav-items-animation {
  -webkit-animation: navItemsAnimation 1s both;
          animation: navItemsAnimation 1s both;
}

.black-bars-color,
.black-bars-color::after,
.black-bars-color::before {
  background-color: #2e2e2e;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  height: 100vh;
  color: #fff;
  background-attachment: scroll;
}
.header video {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}
.header__heading {
  font-family: "Amaranth", sans-serif;
  font-size: 7.6rem;
  font-weight: 300;
  text-align: center;
  margin-top: 0.3em;
  margin-bottom: 2rem;
}
.header__text {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}
.header__btn {
  background: #fff;
  margin-top: 2em;
  padding: 0.8em 1.6em;
  text-decoration: none;
  border-radius: 8px;
  font-size: 1.4rem;
  color: #2e2e2e;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}
.header__btn::before {
  background-color: #eee;
}
.header__logo--box {
  position: absolute;
  top: 0;
  left: 0.5em;
  gap: 0.7em;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__logo {
  display: inline-block;
  height: 3em;
  width: 3em;
  background-color: white;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header__logo:hover {
  scale: 1.2;
  border-radius: 8%;
}
.header__logo--1 {
  background-image: url(../img//life.jpg);
}
.header__logo--2 {
  background-size: contain;
  background-image: url(../img/natura2000.jpg);
}
.header__logo--3 {
  background-image: url(../img/logotyp-07.jpg);
}

.eco {
  background-color: rgb(70, 57, 42);
}
.eco__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2em 0;
}
.eco__img {
  width: 100%;
  height: 100%;
  margin-bottom: 2em;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.eco__img:hover {
  scale: 1.05;
}
.eco__title {
  margin-bottom: 0.8em;
  color: #eee;
}
.eco__text {
  font-size: 1.4rem;
  color: #eee;
}

.hero-img {
  position: relative;
  padding: 8em 2em;
  background-image: linear-gradient(45deg, rgba(7, 7, 7, 0.331), rgba(98, 96, 96, 0.457)), url("../img/Little-river-in-a-forest_About_Project.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  color: #fff;
  overflow: hidden;
  height: 100vh;
}
.hero-img__title {
  font-size: 4.6rem;
  margin-bottom: 0.5em;
}
.hero-img__text {
  font-size: 1.5rem;
  padding: 1em;
  max-width: 100%;
}

.actu {
  background-color: rgb(70, 57, 42);
}
.actu__card {
  position: relative;
  margin: 1em 0;
  height: 450px;
  color: #fff;
  text-align: center;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
.actu__card:hover .actu__card-img {
  opacity: 0;
}
.actu__card:hover .actu__card-info {
  opacity: 1;
}
.actu__card-img {
  padding: 2em;
  height: 100%;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
}
.actu__card-img--first {
  background-image: linear-gradient(45deg, rgba(7, 7, 7, 0.331), rgba(98, 96, 96, 0.457)), url(../img/Tree-trunks-in-the-mountains-1063826.jpg);
}
.actu__card-img--second {
  background-image: linear-gradient(45deg, rgba(7, 7, 7, 0.331), rgba(98, 96, 96, 0.457)), url(../img/A-raised-bog-743322.jpg);
}
.actu__card-img--third {
  background-image: linear-gradient(45deg, rgba(7, 7, 7, 0.331), rgba(98, 96, 96, 0.457)), url(../img/Frozen-lake-in-a-winter-forest-1297307.jpg);
}
.actu__card-img-title {
  font-size: 2.8rem;
}
.actu__card-img-info {
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-size: 1.8rem;
}
.actu__card-img-info i {
  margin-right: 0.7em;
}
.actu__card-info {
  color: #2e2e2e;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.76);
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.9px);
  -webkit-backdrop-filter: blur(7.9px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  opacity: 0;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
}
.actu__card-info-title {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 1.2em;
  font-size: 2.8rem;
}
.actu__card-info-list {
  margin: 0 auto;
  width: 70%;
  list-style: none;
}
.actu__card-info-list-item {
  padding: 1em;
  font-size: 1.4rem;
  border-bottom: 1px solid #eee;
}
.actu__card-info-list-item:last-child {
  border-bottom: none;
}
.actu__card-info-btn {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 2em;
  padding: 1em;
  border-radius: 8px;
  width: 80%;
  border: none;
  background-color: #9b9e9d;
  cursor: pointer;
}
.actu__card-info-btn::before {
  background-color: #f3f9f7;
}

.contact {
  position: relative;
  background-color: #eee;
  overflow: hidden;
}
.contact__block {
  background-color: #2e2e2e;
}
.contact__title {
  color: #2e2e2e;
}
.contact__form, .contact__form-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact__form-label {
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
.contact__form-input {
  margin-bottom: 2em;
  padding: 0.6em 1.2em;
  border: none;
  border-radius: 8px;
  font-size: 1.6rem;
}
.contact__form-textarea {
  margin-bottom: 2em;
  padding: 0.6em 1.2em;
  border: none;
  border-radius: 8px;
  font-size: 1.6rem;
  max-width: 100%;
  width: 100%;
  min-height: 150px;
}
.contact__form-btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 1em;
  width: 100%;
  max-width: 300px;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: rgb(70, 57, 42);
}
.contact__form-btn::before {
  background-color: #2e2e2e;
}

.footer {
  color: #fff;
  background-color: #2e2e2e;
}
.footer .wrapper {
  padding: 6em 2em 2em;
}
.footer__box {
  font-size: 1.4rem;
}
.footer__box-desktop {
  display: none;
}
.footer__box-title {
  margin-bottom: 1em;
  font-size: 3rem;
  text-transform: uppercase;
}
.footer__box-social {
  margin: 2em 0 1em;
}
.footer__box-link {
  padding: 0 0.3em;
  color: #fff;
  font-size: 3.6rem;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.footer__box-link:hover {
  color: grey;
}
.footer__box-link:first-child {
  padding-left: 0;
}
.footer__bottom-text {
  padding: 2em;
  text-align: center;
}

@media (min-width: 576px) {
  .nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .nav--active {
    -webkit-transform: translateX(60%);
            transform: translateX(60%);
  }
  .eco__box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .eco__box-text {
    width: 55%;
  }
  .eco__box-text--right {
    text-align: right;
  }
  .eco__box-img {
    width: 42%;
  }
  .eco__box-img--right {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .eco__img {
    margin-bottom: 0;
    max-height: 300px;
  }
  .public-orders__title {
    padding: 1.7em 1em 1em 1em;
    font-size: 4rem;
  }
  .public-orders__table th {
    padding: 0.2rem;
    font-size: 1.4rem;
  }
  .public-orders__order {
    font-size: 1.2rem;
  }
}
@media (min-width: 768px) {
  .nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .nav--active {
    -webkit-transform: translateX(68%);
            transform: translateX(68%);
  }
  .white-block {
    height: 50px;
    width: 45%;
  }
  .header__heading {
    font-size: 6.6rem;
  }
  .header__text {
    font-size: 2.2rem;
  }
  .header__btn {
    font-size: 1.6rem;
  }
  .header__logo {
    width: 4em;
    height: 4em;
  }
  .eco__text {
    font-size: 1.8rem;
  }
  .hero-img {
    padding: 10em 2em;
  }
  .hero-img__text {
    margin: 0 auto;
    width: 70%;
    padding: 2em;
    font-size: 2.2rem;
  }
  .actu__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .actu__card {
    margin: 1em;
    width: 45%;
  }
  .footer__boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__box-desktop {
    display: block;
  }
  .footer__box {
    margin: 0 2em;
    width: 25%;
  }
  .footer__box:first-child {
    width: 50%;
  }
  .footer__box-title {
    font-size: 2.4rem;
  }
  .footer__box-list {
    list-style: none;
  }
  .footer__box-list-item {
    margin-bottom: 1em;
  }
  .footer__box-list-item a {
    color: #eee;
    text-decoration: none;
  }
  .public-orders__title {
    font-size: 6rem;
  }
  .public-orders__table th {
    padding: 0.6rem;
    font-size: 1.4rem;
  }
  .public-orders__order {
    font-size: 1.2rem;
  }
}
@media (min-width: 992px) {
  .nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .nav--active {
    -webkit-transform: translateX(76%);
            transform: translateX(76%);
  }
  .burger-btn {
    top: 50px;
    right: 50px;
  }
  .header__heading {
    font-size: 10rem;
  }
  .header__text {
    font-size: 3rem;
  }
  .nav__item {
    font-size: 2.8rem;
  }
  .eco__box {
    margin: 2em;
  }
  .eco__box-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-bottom: 2.5em;
  }
  .eco__title {
    font-size: 3.6rem;
  }
  .eco__text {
    font-size: 2.2rem;
  }
  .hero-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 40rem 2em;
  }
  .hero-img__title {
    font-size: 7.2rem;
  }
  .hero-img__text {
    width: 80%;
  }
  .contrast-box {
    width: 3rem;
    height: 3rem;
    right: 7rem;
    top: 2rem;
  }
}
@media (min-width: 1100px) {
  .header__heading {
    font-size: 8rem;
  }
  .header__text {
    font-size: 2.2rem;
    max-width: 70%;
  }
  .nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .nav--active {
    -webkit-transform: translateX(82%);
            transform: translateX(82%);
  }
  .actu__card {
    width: 30%;
  }
  .public-orders__title {
    font-size: 8rem;
  }
  .public-orders__table th {
    padding: 0.6rem;
    font-size: 1.7rem;
  }
  .public-orders__order {
    font-size: 1.4rem;
  }
}
.contrast-styles {
  background: #000000;
  color: rgb(251, 255, 0);
  border: 2px solid rgb(251, 255, 0);
}
.contrast-styles:hover {
  background-color: #000000;
}

.contrast__logo--1 {
  background-image: url(../img/logo_LIFE_nb.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
}

.contrast__logo--2 {
  background-image: url(../img/natura2000_bw.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
}

.contrast__logo--3 {
  background-image: url(../img/nfog_BW.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
}

.contrast-box--logo {
  background-image: url(../img/eye_white.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
}/*# sourceMappingURL=style.css.map */