.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.white-block {
	position: absolute;
	height: 40px;
	width: 60%;
	background-color: $bg-green;

	&-left {
		bottom: 0;
		left: -50px;
		transform: skew(45deg);
	}
	&-right {
		top: 0;
		right: -50px;
		transform: skew(45deg);
	}
}

// contrast

.contrast-box {
	position: absolute;
	right: 3rem;
	top: 7.9rem;
	background-image: url(../img/eye_contrast_icon.png);
	background-position: top;
	background-size: contain;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	cursor: pointer;
	border: 2px solid $dark;
}

.btn-special-animation {
	position: relative;
	transition: background-color 0.3s;
	overflow: hidden;
	z-index: 0;

	&::before {
		display: block;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform: scaleX(0);
		transform-origin: right;
		transition: transform 0.3s;
		z-index: -1;
	}
	&:hover::before {
		transform: scaleX(1);
		transform-origin: left;
	}
}

.section-heading {
	position: relative;
	margin-bottom: 2em;
	font-size: 3rem;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
	color: $light-white;
	letter-spacing: 2px;
}

.section-padding {
	padding: 3em 2em;
}

.btn-download {
	color: $dark;
	text-align: left;
	background-color: transparent;
	border: none;
	cursor: pointer;
	transition: all 0.3s;
	text-decoration: none;
	font-size: 1rem;
	i {
		margin-right: 5px;
	}
	&:hover {
		scale: 1.06;
	}
}

.download-box--box {
	width: 100%;
	padding: 1.2rem 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 1rem;
}

@media (min-width: 576px) {
	.btn-download {
		font-size: 1.5rem;
	}
}

@media (min-width: 768px) {
	.section-heading {
		font-size: 3.6rem;
	}

	.section-padding {
		padding: 5em 2em;
	}
}
@media (min-width: 992px) {
	.section-heading {
		font-size: 4.8rem;
	}

	.section-padding {
		padding: 5em 2em;
	}

	.btn-download {
		font-size: 2rem;
	}
}
