@import "./colors";
@import "./components";
@import "./mixins";

.public-orders {
	position: relative;
	padding: 1em;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: $dark-gradient,
		url(../img/Frozen-morning-in-lake-910764.jpg);
	background-size: cover;
	background-position: center;
	color: $dark;

	.wrapper {
		display: flex;
		justify-content: center;
	}

	&__title {
		color: $pure-white;
		text-align: center;
		padding: 1.7em 1em 1em 1em;
		font-size: 3rem;
	}

	&__table {
		padding: 0.3em;
		background-color: #fff;
		th {
			text-align: center;
			font-size: 1.8rem;
			border-bottom: 1px solid $light-white;
			font-weight: bold;
		}
	}

	&__order {
		font-size: 1rem;
		text-align: center;
		td {
			font-size: 2rem;
			border-bottom: 1px solid $light-white;
		}
	}

	.ul-list {
		list-style: none;
		li {
			text-align: left;
			a {
				margin-right: 0.5rem;
			}
		}
	}
}
